.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  flex-wrap: wrap;
  margin: auto;
}

.columns {
  border: 1px solid black;
  min-height: 20px;
  min-width: 20px;
  transition: all 0.15;
}

.hover {
  background-color: blue;
}