body {
  font-family: Roboto;
}

.mainContainer {

}


.container {
  display: flex;
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  border: 2px solid black;
  position: absolute;
  top: 12.5%;
  left: 50%;
  margin-left: -250px;

}

.gridSquare {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.hover {
  background-color: blue;
}

.buttonContainer {
  display: flex;
  width: 200px;
  justify-content: center;
  gap: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.sizeButton, .resetButton {
  background-color: rgba(153, 130, 255, 0.932);
  color: black;
  padding: 10px 30px;
  border: 0.5px solid rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.05s;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
}

.sizeButton:hover, .resetButton:hover {
  box-shadow: 0 0 3px;
  scale: 1.2;
  background-color: rgba(129, 100, 255, 0.932);
}

.sizeButton:active, .resetButton:active {
  background-color: rgba(105, 73, 248, 0.932);
}

.modes {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-right: 40rem;
  margin-top: 2.5rem;
}

.modesList {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;

}

.rgbMode, .normalMode, .darkenMode {
  background-color: rgba(153, 130, 255, 0.932);
  color: black;
  padding: 10px 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.05s;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
}

.normalMode {
  padding: 10px 8px;
}

.darkenMode {
  padding: 10px 10px;
}

.rgbMode:hover, .normalMode:hover
, .darkenMode:hover {
  box-shadow: 0 0 3px;
  scale: 1.2;
  background-color: rgba(129, 100, 255, 0.932);
}

.rgbHover:active, .normalMode:active
, .darkenMode:active {
  background-color: rgba(105, 73, 248, 0.932);
}