body {
  font-family: Roboto;
  background-color: lavender;
}

.gameBoard{
  height: 1000px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 900;
}

.sketchBoard {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  border: 5px solid black;
}

.gridSquare {
  box-sizing: border-box;
  background-color: white;
}

.hover {
  background-color: blue;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 15px;
}

.sizeButton, .resetButton {
  background-color: rgba(153, 130, 255, 0.932);
  color: black;
  padding: 10px 30px;
  border: 0.5px solid rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.05s;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
}

.sizeButton {
  padding: 10px 36px;
}

.sizeButton:hover, .resetButton:hover {
  box-shadow: 0 0 3px;
  scale: 1.2;
  background-color: rgba(129, 100, 255, 0.932);
}

.sizeButton:active, .resetButton:active {
  background-color: rgba(105, 73, 248, 0.932);
}

.modesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 509px;
  height: 100px;
  position: absolute;
  background-color: black;
  margin-top: 58.2px;
}

.rgbMode, .normalMode {
  background-color: rgba(255, 0, 0, 0.932);
  color: black;
  padding: 15px 32px;
  border: 0.5px solid rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.05s;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
}

.normalMode {
  padding: 15px 20px;
}

.rgbMode:hover, .normalMode:hover {
  box-shadow: 0 0 4px;
  scale: 1.2;
}


.activeMode {
  background-color: rgb(0, 228, 0);
}